@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Roboto;
  background-color: #ededed;
}

.asc {
  padding: 2px;
  color: inherit;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
}

.desc {
  padding: 2px;
  color: inherit;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
  transform: rotate(180deg);
}

.sortable:hover svg {
  opacity: 0.7;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a4a4a4;
}

.leaflet-container {
  height: 300px;
}

.arrow-steper::before {
  content: " ";
  position: absolute;
  top: -1px;
  left: 7rem;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid red;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none !important;
}

/* .arrow-steper::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #d9e3f7;
  z-index: 2;
  transition: border-color 0.2s ease;
} */
